<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uchet_IT.Properties.Settings.autoDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\autoDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="uchet_IT.Properties.Settings.IT_DB_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\IT_dbmdb.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>